{{#if currentUser}}
<div class="form__parent__container">
    <div class="form__title">
            <h3>Change your password for {{currentUser.email}}</h3>
    </div>

    <div class="form__wrapper">
        <form action="/auth/change-password" method="post">

            <div class="inputs__wrapper">
                <input type="password" name="oldpass" placeholder="Old Password">
                <input type="password" name="newpass" placeholder="New Password">
                <input type="password" name="confirmnewpass" placeholder="Confirm New Password">
            </div>
            
            <button class="submit-btn">Submit</button>
            
        </form>
    </div>
</div>
{{/if}}