<div class="form__parent__container">

   <div class="form__title">
      <h1>Sign in</h1>
      <p>New to Shopbox? <a href="/auth/signup">Sign up</a></p>
   </div>

   <div class="form__wrapper">

      <form action="/auth/login" method="POST">
         
         <div class="inputs__wrapper">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
         </div>

         <button class="submit-btn" type="submit">Submit</button>
      </form>

      {{#if errorMessage}}
         {{errorMessage}}
      {{/if}}

   </div>

</div>
