<div class="form__parent__container">

   <div class="form__title">
      <h1>Let’s create your account.</h1>
      <p>
         Signing up for Shopbox is fast, easy, and free.<br/>
         No commitments or long-term contracts.
      </p>
   </div>

   <div class="form__wrapper">
      <div class="form">
         <form action="/auth/signup" method="POST">
            <div class="inputs__wrapper">
               <input class="input" type="text" name="firstName" placeholder="First Name">

               <input class="input" type="text" name="lastName" placeholder="Last Name">

               <input class="input" type="text" name="email" placeholder="Email">

               <input class="input" type="password" name="password" placeholder="Password">
            </div>

            <div class="dropdowns__wrapper">
               
               <div class="dropdown">
                  <label for="storeType">How do you sell?</label>
                  <select name="storeType" id="storeType">
                     <option value="" disabled="disabled" selected="selected">--Please choose an option--</option>
                     <option value="ONLINE STORE">Online store only</option>
                     <option value="PHYSICAL STORE">Physical store only</option>
                     <option value="ONLINE AND PHYSICAL STORE">I sell from a physical and online store</option>
                  </select>
               </div>
               
               <div class="dropdown">
                  <label for="role">Assign access level:</label>
               
                  <select name="role" id="role">
                     <option value="" disabled="disabled" selected="selected">--Please choose an option--</option>
                     <option value="ADMIN">Admin</option>
                     <option value="STAFF">Staff</option>
                  </select>
               </div>
            </div>

            <button class="submit-btn" type="submit">Submit</button>
         </form>
      </div>

      {{#if errorMessage}}
         {{errorMessage}}
      {{/if}}

   </div>

</div>
