{{#if currentUser}}
<main class="page__content__container">
    <div class="content-heading">
        <h2>Book List</h2>
        <button class="add-item-btn"><a href="/books/createBook">Add Book</a></button>
    </div>

    <div class="content__titles__container">
        <div class="content-title">
            <h5>Title</h5>
        </div>
        <div class="content-title">
            <h5>Author</h5>
        </div>
        <div class="content-title">
            <h5>Details</h5>
        </div>
    </div>
   
    {{#each book}}
    <div class="flex__parent__container-list-display">
        <div class="content__wrapper-list-display">
            <p><span class="hidden-title">Title:</span> {{title}}</p>
        </div>

        <div class="content__wrapper-list-display">
            <p> <span class="hidden-title">Author:</span> {{author}}</p>
        </div>

        <div class="content__wrapper-list-display">
            <p><a class="details-link" href="/books/details/{{_id}}">See details...</a></p>
        </div> 

    </div>
    {{/each}}

</main>
{{/if}}