{{#if currentUser}}
<main class="page__content__container">
    <div class="content-heading">
        <h2>Purchase History</h2>
        <button class="add-item-btn"><a href="/purchases/create">New Invoice</a></button>
    </div>

    <div class="content__titles__container-cust-purch">
        
        <div class="content-title-cust-purch">
            <h5>Customer Name</h5>
        </div>

        <div class="content-title-cust-purch">
            <h5>Invoice #</h5>
        </div>

        <div class="content-title-cust-purch">
            <h5>Details</h5>
        </div>

    </div>

    {{#each purchases}}
    <div class="flex__parent__container-list-display-cust-purch">

        <div class="content__wrapper-list-display-cust-purch">
            <p><span class="hidden-title">Name:</span> {{customers.firstName}} {{customers.lastName}}</p>
        </div>

        <div class="content__wrapper-list-display-cust-purch">
            <p><span class="hidden-title">Invoice #:</span> {{invoiceId}}</p>
        </div>

        <div class="content__wrapper-list-display-cust-purch">
            <p> <a class="details-link" href="/purchases/{{_id}}">See order details</a></p>
        </div> 

    </div>
{{/each}}
    
</main>
{{/if}}