<div class="container">

    <div class="hero-section-1">

        <div class="heroText-section-1">
            <h1 class="hero__h1-title">Power your business with Shopbox.</h1>
            <p>Millions of brands of all sizes trust Shopbox to accept payments, build customer relationships, and grow their business in-store and online.</p>
            <div class="button" >
                <a href="/auth/signup">Get Started</a> 
            </div>
        </div>

        <div class="heroImg-section-1">
            <img src="/images/tim-mossholder-sxb8StmTfaw-unsplash.jpg" alt="Open for business">
        </div>

    </div>

</div>

<div class="products-parent-container">
    <div class="products__content--wrapper container">

        <h1 class="h1-get-tools">Get the tools that connect every part of your business.</h1>

        <div class="products-container">
            <div class="products-section-box">
                <div class="products-text-section">
                    <h2 class="title">Commerce</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci ab, reiciendis cum accusantium at obcaecati totam alias. <br><br>
                    <a class="products-text-link" href="#">See Commerce Solutions >></a>
                    </p>
                </div>

                <div class="products-img-section">
                    <img src="/images/blake-wisz-tE6th1h6Bfk-unsplash.jpg" alt="image">
                </div>

            </div>

            <div class="products-section-box">
                <div class="products-text-section">
                    <h2 class="title">Customers</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci ab, reiciendis cum accusantium at obcaecati totam alias. <br><br>
                    <a class="products-text-link" href="#">Explore the Customer Directory >></a>
                    </p>
                </div>

                <div class="products-img-section">
                    <img src="/images/joshua-rodriguez-f7zm5TDOi4g-unsplash.jpg" alt="image">
                </div>
            </div>

            <div class="products-section-box">
                <div class="products-text-section">
                    <h2 class="title">Banking</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci ab, reiciendis cum accusantium at obcaecati totam alias. <br><br>
                    <a class="products-text-link" href="#">See Banking Solutions >></a>
                    </p>
                </div>

                <div class="products-img-section">
                    <img src="/images/tran-mau-tri-tam-QwAL909kTiY-unsplash.jpg" alt="image">
                </div>

            </div>

            <div class="products-section-box">
                <div class="products-text-section">
                    <h2 class="title">Staff</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci ab, reiciendis cum accusantium at obcaecati totam alias. <br><br>
                    <a class="products-text-link" href="#">Check out Payroll >></a>
                    </p>
                </div>

                <div class="products-img-section">
                    <img src="/images/jose-aljovin-XevnZB3CdsU-unsplash.jpg" alt="image">
                </div>
            </div>
            
        </div>

    </div>
</div>

<div class="email__container">

    <div class="email__wrapper--content">

        <h2 class="h2__content-title">Start selling with Shopbox.</h2>

        <div class="contact-links">
            <div class="content-wrap">
                <i class="fa-solid fa-caret-right"></i>
                <a href="#">Start a free account</a> 
            </div>

            <div class="content-wrap">
                <i class="fa-solid fa-caret-right"></i>
                <a href="#">Talk to our sales team</a> 
            </div>

        </div>

        <h3 class="h3__stay-in-touch">Stay in touch.</h3>
        <p class="para__stay-in-touch">Subscribe to our email list to receive advice from other business owners, support articles, tips from industry experts, and more.</p>

        <div class="email">
            <input type="text" placeholder="Email address">
            <button class="email-btn">Submit</button>
        </div>

        <p class="privacy">*Please refer to our <a href="#">Privacy Policy</a> for more details.</p>
        

    </div>

</div> 


<footer>

    <div class="footer-link-list-wrapper container">

        <div class="link-list">
            <ul>
                <li class="link-list-title">Products</li>
                <li class="li"> <a href="#">Commerce</a> </li>
                <li class="li"> <a href="#">Point of sale</a> </li>
                <li class="li"> <a href="#">Payments</a> </li>
                <li class="li"> <a href="#">Invoices</a> </li>
                <li class="li"> <a href="#">Customers</a> </li>
                <li class="li"> <a href="#">Marketing</a> </li>
                <li class="li"> <a href="#">See more...</a> </li>
            </ul>
        </div>

        <div class="link-list">
            <ul>
                <li class="link-list-title">Business Types</li>
                <li class="li"> <a href="#">Food & Beverage</a> </li>
                <li class="li"> <a href="#">Retail</a> </li>
                <li class="li"> <a href="#">Beauty Salon</a> </li>
                <li class="li"> <a href="#">Health & Fitness</a> </li>
                <li class="li"> <a href="#">Professional Services</a> </li>
                <li class="li"> <a href="#">See more...</a> </li>
            </ul>
        </div>

        <div class="link-list">
            <ul>
                <li class="link-list-title">Resources</li>
                <li class="li"> <a href="#">Pricing</a> </li>
                <li class="li"> <a href="#">Why Shopbox</a> </li>
                <li class="li"> <a href="#">Testimonials</a> </li>
                <li class="li"> <a href="#">The Bottom Line</a> </li>
                <li class="li"> <a href="#">Sales</a> </li>
                <li class="li"> <a href="#">Support</a> </li>
                <li class="li"> <a href="#">Seller Community</a> </li>
            </ul>
        </div>

        <div class="link-list">
            <ul>
                <li class="link-list-title">Shopbox</li>
                <li class="li"> <a href="#">About</a> </li>
                <li class="li"> <a href="#">Press & Media</a> </li>
                <li class="li"> <a href="#">Careers</a> </li>
                <li class="li"> <a href="#">Affiliates</a> </li>
                <li class="li"> <a href="#">Partners</a> </li>
            </ul>
        </div>

        <div class="link-list">
            <ul class="ul-contact">
                <li class="link-list-title">Contact</li>
                <li class="li-contact">Customer support: <br/> 1 (800) 123-4567</li>
                <li class="li-contact">Sales: 1 (800) 123-1234</li>
            </ul>
        </div>
    </div>

    <div class="social-media-container container">

        <div class="eng">
            <p>United States (English)</p>
        </div>
        <div class="copy-right">
            <p>©️ Shopbox, Inc.</p>
        </div>

        <div class="social_media_icons">
            <div class="social_media_icon-wrapper">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="social_media_icon-wrapper">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <div class="social_media_icon-wrapper">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
