<div class="form__parent__container">

   <div class="form__title">
      <h2>Add new movie to inventory</h2>
   </div>

   <div class="form__wrapper">

      <form action="/movies/createMovie" method="POST">
         
         <div class="inputs__wrapper">

            <div class="label-input-col">
               <label>Title:</label>
               <input type="text" name="title">
            </div>

            <div class="label-input-col">
               <label>Genre:</label>
               <input type="text" name="genre">
            </div>

            <div class="label-input-col">
               <label>Director:</label>
               <input type="text" name="director">
            </div>

            <div class="small__input__group-flex-row media-fwrap">
               <div class="label-input-col">
                  <label>Runtime:</label>
                  <input type="text" name="runtime">
               </div>
               <div class="label-input-col">
                  <label>Price:</label>
                  <input type="text" name="price">
               </div>
               <div class="label-input-col">
                  <label>Rating:</label>
                  <input type="text" name="rating">
               </div>
               <div class="label-input-col">
                  <label>Inventory:</label>
                  <input type="text" name="inventory">
               </div>
            </div>
         </div>

         <button class="submit-btn" type="submit">Submit</button>
      </form>
   </div>
</div>
