{{#if currentUser}}
<main class="page__content__container">
    <div class="content-heading">
        <h2>Movie List</h2>
        <button class="add-item-btn"><a href="/movies/createMovie">Add Movie</a></button>
    </div>

    <div class="content__titles__container">
        <div class="content-title">
            <h5>Title</h5>
        </div>
        <div class="content-title">
            <h5>Genre</h5>
        </div>
        <div class="content-title">
            <h5>Details</h5>
        </div>
    </div>

    {{#each movie}}
    <div class="flex__parent__container-list-display">
        <div class="content__wrapper-list-display">
            <p><span class="hidden-title">Title: </span>{{title}}</p>
        </div>

        <div class="content__wrapper-list-display">
            <p><span class="hidden-title">Genre: </span>{{genre}}</p>
        </div>

        <div class="content__wrapper-list-display">
            <p><a class="details-link" href="/movies/details/{{_id}}">See movie details</a></p>
        </div> 

    </div>
{{/each}}

</main>

{{/if}}