{{#if currentUser}}
<main class="page__content__container">
    <div class="content-heading">
        <h2>Customers</h2>
        <button class="add-item-btn"><a href="/customers/create">Add Customer</a></button>
    </div>

    <div class="content__titles__container-cust-purch">
        
        <div class="content-title-cust-purch">
            <h5>Customer Name</h5>
        </div>

        <div class="content-title-cust-purch">
            <h5>Email</h5>
        </div>

        <div class="content-title-cust-purch">
            <h5>Customer details</h5>
        </div>

    </div>

    {{#each customers}}
    <div class="flex__parent__container-list-display-cust-purch">

        <div class="content__wrapper-list-display-cust-purch">
            <p><span class="hidden-title">Name:</span> {{firstName}} {{lastName}}</p>
        </div>

        <div class="content__wrapper-list-display-cust-purch">
            <p><span class="hidden-title">Email:</span> {{email}}</p>
        </div>

        <div class="content__wrapper-list-display-cust-purch">
            <p><a class="details-link" href="/customers/{{_id}}">See customer information</a></p>
        </div> 

    </div>
{{/each}}
    
</main>
{{/if}}